
<h2>C'est ici que tout se fait</h2>

@Html.ActionLink("Verifiez avec quel compte vous êtes inscrit", "AccountRequest", "Account")
<br />
@Html.ActionLink("Voulez vous savoir quels jeux sont disponibles?", "GameRequest", "Home")
<br />
@Html.ActionLink("Vérifiez votre stock", "StockRequest", "Stock")